.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box-list {
  display: flex;
}

.weather-box {
  border: 1px solid green;
  width: 20%;
  height: 400px;
}

.box-middle-content {
  display: flex;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.weather-box-large {
  width: 100%;
}
